$primary-color: #343434;
$secondary-color: #F2F2F2;  
$gradient-color: linear-gradient(to top, #CDB4BF, #F2F2F2);

$title-size: 56px;
$subtitle-size: 32px;
$small-size: 24px;
$paragraph-size: 16px;




